/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #bfdbfe;
    padding: 10px;
  }
  
  .font{
    text-decoration: none;
  }
  .navegacao li {
    display: inline;
    margin-right: 10px;
    
  }

  .navegacao li a {
    text-decoration: none;
    color: #000;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  .caixa-busca {
    width: 200px;
    padding: 5px;
  }
  
  .perfil img {
    border-radius: 50%;
  }
  
  .conteudo {
    padding: 20px;
  }
  
  /* Estilos específicos para seção de imagens */
  .secao-superior {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .quadrado {
    width: 48%; /* Ajuste conforme necessário */
    overflow: hidden;
    border: 2px solid #000;
    padding: 10px;
  }

  .quadradoImg {
    width: 48%; /* Ajuste conforme necessário */
    overflow: hidden;
  }
  
  .quadradoImg img {
    width: 100%;
    border: 2px solid transparent;
  }
  
  /* Estilos específicos para localização e informações */
  .retangulo {
    border: 2px solid #000;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .quadrado,
  .retangulo {
    box-sizing: border-box;
  }
  
  .informacoes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .informacoes .quadrado {
    width: 48%; /* Ajuste conforme necessário */
  }
  
  .contato .icones-sociais img {
    width: 30px;
    margin-right: 10px;
  }
  